html {
    background-color: #feffe7;
    size: portrait;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3 {
    text-align: center;
}

img {
    display: block;
    width: 100%;
    padding: 1%;
}

.picture {
    width: 60%;
    length: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}